<div class="grid-container">
    <h1 class="mat-h1">My courses</h1>

    <div class="container d-none d-md-block mt-3 bg-white shadow-sm p-5 courses-card">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card hover">
                    <img src="https://assets.ldscdn.org/76/01/76014aa1678bd769ad431e29f6572c4fd5a85edd/colorful_sunset_over_the_mountains.jpeg" class="card-img-top" style="height: 145px; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <p class="course-title">Introduction to Programming</p>
                        <p class="card-text">A course that Introduces you to programming</p>
                        <div class="course-info mt-4">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-icon style="color: orange;">layers</mat-icon>
                                        </div>
                                        <div class="col-9">
                                            <p>12 lessons</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-icon style="color: orange;">access_alarm</mat-icon>
                                        </div>
                                        <div class="col-9">
                                            <p>3 hr 30 min</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="mt-4">
            <button mat-mini-fab style="height: 70px; width: 70px; background-color: orange;" routerLink="/user/add-course">
                <mat-icon>add</mat-icon>
            </button>            
        </div>
    </div>

    <div class="container d-md-none mt-3 bg-white shadow-sm p-5 courses-card">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card hover">
                    <img src="https://assets.ldscdn.org/76/01/76014aa1678bd769ad431e29f6572c4fd5a85edd/colorful_sunset_over_the_mountains.jpeg" class="card-img-top" style="height: 145px; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <p class="course-title">Introduction to Programming</p>
                        <p class="card-text">A course that Introduces you to programming</p>
                        <div class="course-info mt-4">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-icon style="color: orange;">layers</mat-icon>
                                        </div>
                                        <div class="col-9">
                                            <p>12 lessons</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-icon style="color: orange;">access_alarm</mat-icon>
                                        </div>
                                        <div class="col-9">
                                            <p>3 hr 30 min</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="mt-4">
            <button mat-mini-fab style="height: 70px; width: 70px; background-color: orange;" routerLink="/user/add-course">
                <mat-icon>add</mat-icon>
            </button>            
        </div>
    </div>
</div>