<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top bg-light bg-faded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center mr-4" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/userpage" routerLinkActive="activebutton" class="nav-link active" aria-current="page">HOME</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="activebutton" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/course" routerLinkActive="activebutton" >COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="activebutton">CONTACT US</a>
          </li>
        </ul>



  
<!-- <img id="search" src="/assets/images/logos/Search_52px.png" data-bs-toggle="modal" data-bs-target="#exampleModal" alt=""> -->
<img id="search" src="/assets/images/logos/Search_52px.png" alt="">
<img id="cart"  src="/assets/images/logos/Shopping Bag_64px.png" alt="">
<button routerLink="/login" class="login" type="button">Login</button>
<button routerLink="/signup" class="signup" type="button">Signup</button>
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Search Courses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="form-control me-2" type="search" placeholder="Search Courses" aria-label="Search">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

      </div>
    </div>
  </nav>
