<!-- <div class="container">
    <h2 id="tones">We have tons of courses for you</h2>

<div class="row justify-content-center mt-4">

    <div class="col-sm-3">
        <div id="features" class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_1.jpg" />
            <p id="head1" class="text-dark">Design</p>
        </div>
        <p class="pt-2 fs-5 fw-semibold" id="head2" class="text-dark">Over 700 Courses</p>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_2.jpg" />
            <p id="head2" class="text-dark">Over 500 Courses</p>
            <p class="pt-2 fs-5 fw-semibold" id="head1" class="text-dark">Web Development</p>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_3.jpg" />
            <p id="head2" class="text-dark">Over 450 Courses</p>
            <p class="pt-2 fs-5 fw-semibold" id="head1" class="text-dark">Marketing</p>
            </div>
    </div>

</div> <br>

<div class="row justify-content-center">

    <div class="col-sm-3">
        <div class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_4.jpg" />
            <p id="head2" class="text-dark">Over 500 Courses</p>
            <p class="pt-2 fs-5 fw-semibold" id="head1" class="text-dark">Photography</p>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_5.jpg" />
            <p id="head2" class="text-dark">Over 1000 Courses</p>
            <p class="pt-2 fs-5 fw-semibold" id="head1" class="text-dark">Science</p>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark bg-light mt-2"> 
            <img class="smaller" src="/assets/images/features/courses_provide_6.jpg" />
            <p id="head2" class="text-dark">Over 350 Courses</p>
            <p class="pt-2 fs-5 fw-semibold" id="head1" class="text-dark">Finance</p>
            </div>
    </div>

</div>
</div> -->

<section class="categories p-3 mt-5">
    
    <!-- CATEGORIES FOR MOBILE -->
    <div class="container d-block d-md-none" >
        <h1 class="fw-semibold fs-2">Top Categories</h1>
        <div>
            <span>
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/design">
                    Design
                </button>
            </span>

            <span class="ml-3">
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/development">
                    Development
                </button>
            </span>
        </div>

        <div class="mt-3">
            <span>
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/marketing">
                    Marketing
                </button>
            </span>

            <span class="ml-3">
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/it-and-software">
                    IT and Software
                </button>
            </span>
        </div>

        <div class="mt-3">
            <span>
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/personal-development">
                    Personal Development
                </button>
            </span>

            <span class="ml-3">
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/business">
                    Business
                </button>
            </span>
        </div>

        <div class="mt-3">
            <span>
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/photography">
                    Photography
                </button>
            </span>

            <span class="ml-3">
                <button mat-button style="border: 1px solid orangered; border-radius: 30px;" routerLink="/categories/music">
                    Music
                </button>
            </span>
        </div>
    </div>
    

    <!-- CATEGORIES DIV FOR PC -->
    <div class="container d-none d-md-block">
        <h1 class="fw-semibold fs-2">Top Categories</h1>
    
        <!-- CATEGORIES 1ST ROW -->
        <div class="row">
            <div class="col-12 col-md-3">
                <!-- <a routerLink="/categories/design"></a> -->
                <div class="card hover position-relative" routerLink="/categories/design">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Design</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/development">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Development</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/marketing">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Marketing</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/it-and-software">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">IT and Software</p>
            </div>
        </div>

        <!-- CATEGORIES 2ND ROW -->
        <div class="row mt-4">
            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/personal-development">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Personal Development</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/business">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Business</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/photography">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Photography</p>
            </div>

            <div class="col-12 col-md-3">
                <div class="card hover position-relative" routerLink="/categories/music">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" class="position-absolute top-50 start-50 translate-middle card-image" alt="...">
                </div>
                <p class="pt-2 fs-5 fw-semibold">Music</p>
            </div>
        </div>
    </div>
</section>