<header>  
    <div class="intro_wrapper">
        <div class="container">  
            <div class="row">        
                 <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="intro_text">
                        <h1 class="naming">Courese Page</h1>
                    </div>
                </div>              

            </div>
        </div> 
    </div> 
</header> <br> <br> <br> <br> <br>

<section class="popular_courses" id="popular_courses_page">

<div class="container">
    
<div class="row justify-content-center">

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 

            <img class="smaller" src="/assets/images/courses/courses_1.jpg" />
            <div class="free">150$</div><br>
            <!-- <p id="">Design</p>
                <p id="">Over 700 Courses</p> -->
                <div class="title">
                    <h4>Make Better Decisions</h4>
                    <h6>Teacher - <a href="">Janet Oduleke</a> </h6>
                    <div id="icon">

                        <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                        <a id="popular-content"> 180 Days</a> 
                        <button id="cart">ADD TO CART</button>
                    </div>
                    
                </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_2.jpg" />
            <div class="free">Free</div><br>
            <div class="title">
                <h4>How To Be A Speaker</h4>
                <h6>Teacher - <a href="">Fiyinfolowa James</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 140 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark  mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_3.jpg" />
            <div class="free">120$</div><br>
            <div class="title">
                <h4>Network Introductions</h4>
                <h6>Teacher - <a href="">Paul Isola</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 180 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

</div> <br>
<!-- end of popular courses one -->

<!-- beginin of popular courses two -->
<div class="row justify-content-center">

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_4.jpg" />
            <div class="free">250$</div><br>
            <div class="title">
                <h4>Brand Management</h4>
                <h6>Teacher - <a href="">Faith Aluko</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 130 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_5.jpg" />
            <div class="free">180$</div> <br>
            <div class="title">
                <h4>Moralities Of Everyday</h4>
                <h6>Teacher - <a href="">Janet Oduleke</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 190 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_6.jpg" />
            <div class="free">130$</div><br>
            <div class="title">
                <h4>Life Coach Training</h4>
                <h6>Teacher - <a href="">Iyanu Akinyemi</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 150 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

</div> <br>
<!-- end of popolar courses -->

<!-- beginin of popular coureses three -->
<div class="row justify-content-center">

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 

            <img class="smaller" src="/assets/images/courses/courses_1.jpg" />
            <div class="free">150$</div><br>
            <!-- <p id="">Design</p>
                <p id="">Over 700 Courses</p> -->
                <div class="title">
                    <h4>Make Better Decisions</h4>
                    <h6>Teacher - <a href="">Janet Oduleke</a> </h6>
                    <div id="icon">

                        <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                        <a id="popular-content"> 180 Days</a> 
                        <button id="cart">ADD TO CART</button>
                    </div>
                    
                </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_2.jpg" />
            <div class="free">Free</div><br>
            <div class="title">
                <h4>How To Be A Speaker</h4>
                <h6>Teacher - <a href="">Fiyinfolowa James</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 140 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-dark  mt-2"> 
            <img class="smaller" src="/assets/images/courses/courses_3.jpg" />
            <div class="free">120$</div><br>
            <div class="title">
                <h4>Network Introductions</h4>
                <h6>Teacher - <a href="">Paul Isola</a> </h6>
                <div id="icon">

                    <img id="calendicon" src="/assets/images/logos/Planner_48px.png" alt="">
                    <a id="popular-content"> 180 Days</a> 
                    <button id="cart">ADD TO CART</button>
                </div>
                
            </div>
            </div>
    </div>

</div> <br>
<!-- end of popular courses three -->

</div>   


</section> <br> <br>

<app-footer></app-footer>
