<div  class="container shadow">
    <div class="row">
  
  <div class="col-sm-6" id="left">
    <!-- <img src="../assets/login.jpg" alt=""  class="h-100 w-100" > -->
  </div>
  
  <div class="col-sm-6" id="right">
     <h4  class="text-dark text-center display-4 pt-4">Register<br> Here</h4>
     <input type="text" placeholder="Username" class="form-control w-75 shadow-sm ml-5 mt-4" ngModel="Username">
     <input type="text" placeholder="Email" class="form-control w-75 shadow-sm ml-5 mt-4" ngModel="Email">
     <input type="email" placeholder="Password" class="form-control w-75 shadow-sm ml-5 mt-4" ngModel="Password"> <br>
    <button class="btn shadow-sm ml-5 mt-4 w-75 add" id="signup" >Create Account</button>
      <br><br>
     <!-- <a class="text-dark ml-5 pt-5" [routerLink]="['/login']" routerLinkActive="router-link-active" > Already have an account?  <span class="addd">Login here</span> </a> -->
    </div>
  
    </div>
   </div>
  
  
  
  